# Compiled output
main
blunder
*.o
*.obj
*.a
*.lib
*.so
*.so.*
*.dylib
*.dll
*.exe
*.out
*.app
tests/test_*
!tests/test_*.c 
build/artefacts/*
.DS_Store

# Personal files
BACKLOG.md
engine-interface.txt