# Compiled output
main
blunder
*.o
*.obj
*.a
*.lib
*.so
*.so.*
*.dylib
*.dll
*.exe
*.out
*.app
tests/test_*
!tests/test_*.c 
build/artefacts/*
assets/engine-interface.txt
.DS_Store
.vscode/


# Personal files
BACKLOG.md
engine-interface.txt
/logs